.borderr{
    border:2px solid black;
}
/* 
.main-div{
    background: rgb(19,18,32);
    background: linear-gradient(90deg, rgba(19,18,32,1) 7%, rgba(68,68,167,1) 69%, rgba(4,66,79,1) 100%);
} */

.main-div{
    
}